server/MA-FF-Server/MA-FF-Server/Schemata/experiment.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="experiment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="intern-settings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="log-count" type="xs:unsignedByte" />
              <xs:element name="websocket-delay" type="xs:unsignedByte" />
              <xs:element name="mousetracking-interval" type="xs:unsignedByte" />
              <xs:element name="data-timeout" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="created-at" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>