server/MA-FF-Server/MA-FF-Server/Schemata/participants.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="participants">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="participant">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="extra-attributes">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:any processContents="lax"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="identifier" type="xs:string" use="required" />
            <xs:attribute name="created-at" type="xs:string" use="required" />
            <xs:attribute name="sex" type="xs:string" use="required" />
            <xs:attribute name="birthyear" type="xs:unsignedShort" use="required" />
            <xs:attribute name="education" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>