server/MA-FF-Server/MA-FF-Server/Schemata/raw-data.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="experiment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="participant">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="extra-attributes">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:any processContents="lax"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="identifier" type="xs:string" use="required" />
            <xs:attribute name="created-at" type="xs:string" use="required" />
            <xs:attribute name="sex" type="xs:string" use="required" />
            <xs:attribute name="birthyear" type="xs:unsignedShort" use="required" />
            <xs:attribute name="education" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="raw-gazes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="raw-gaze">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="left-eye">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:choice>
                            <xs:element name="mousetracking-data">
                              <xs:complexType>
                                <xs:attribute name="x" type="xs:unsignedShort" use="required" />
                                <xs:attribute name="y" type="xs:unsignedShort" use="required" />
                                <xs:attribute name="callback" type="xs:unsignedLong" use="required" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="eyetracking-data">
                              <xs:complexType>
                                <xs:attribute name="x" type="xs:string" use="required" />
                                <xs:attribute name="y" type="xs:string" use="required" />
                                <xs:attribute name="callback" type="xs:unsignedInt" use="required" />
                                <xs:attribute name="diameter" type="xs:string" use="required" />
                                <xs:attribute name="eye-position-x" type="xs:string" use="required" />
                                <xs:attribute name="eye-position-y" type="xs:string" use="required" />
                                <xs:attribute name="eye-position-z" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:choice>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="right-eye">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:choice>
                            <xs:element name="mousetracking-data">
                              <xs:complexType>
                                <xs:attribute name="x" type="xs:unsignedShort" use="required" />
                                <xs:attribute name="y" type="xs:unsignedShort" use="required" />
                                <xs:attribute name="callback" type="xs:unsignedLong" use="required" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="eyetracking-data">
                              <xs:complexType>
                                <xs:attribute name="x" type="xs:string" use="required" />
                                <xs:attribute name="y" type="xs:string" use="required" />
                                <xs:attribute name="callback" type="xs:unsignedInt" use="required" />
                                <xs:attribute name="diameter" type="xs:string" use="required" />
                                <xs:attribute name="eye-position-x" type="xs:string" use="required" />
                                <xs:attribute name="eye-position-y" type="xs:string" use="required" />
                                <xs:attribute name="eye-position-z" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:choice>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="raw-events">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="event">
                <xs:complexType>
                  <xs:attribute name="event-type" type="xs:string" use="required" />
                  <xs:attribute name="eye" type="xs:string" use="required" />
                  <xs:attribute name="start-time" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="end-time" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="duration" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="x" type="xs:string" use="required" />
                  <xs:attribute name="y" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="number-of-gazes" type="xs:unsignedShort" use="required" />
      <xs:attribute name="number-of-events" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>